/* Carrito.module.css */
.carrito {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ajusta el ancho según tu diseño */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.eliminarBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.eliminarBtn:hover {
  background-color: darkred;
}

.vacio {
  text-align: center;
  color: #666;
}
