.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .productos div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .productos img {
    width: 150px;
    height: 150px;
  }
  
  .productos button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .productos button:hover {
    opacity: 0.8;
  }
  