/* src/index.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    color: white;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  